@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, monospace;
  }
  
  h1, h2, h3 {
    font-family: Montserrat;
  }
}
